.button{
  @extend %secondary-font;
  display: inline-block;
  font-size: 24px;
  font-weight: $bold2;
  text-align: center;
  padding: 6px 24px 10px 24px;
  text-transform: uppercase;
  position: relative;
  @extend %shadow;
  &:after{
    display: block;
    content: "";
    position: absolute;
    top:3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border: 2px solid white(0.8);
  }
  &:active{
    outline: none;
    top: 1px;
    &:before{
      top: 5px;
    }
  }
}

.primary-button{
  background: $orange;
  border: none;
  cursor: pointer;
  &, &:link, &:visited, &:active{
    color: white;
  }
  &:hover{
    background: $dark-brown;
    text-decoration: none;
  }
}

.download-button{
  @extend .primary-button;
}

.share-button{
  background: $lighter-beige;
  padding: 8px 24px;
  display: block;
  &:after{
    border-color: $light-beige;
  }
  &:hover{
    text-decoration: none;
    background: $orange;
    color: white;
    border-color: $orange;
    svg path{
      fill: white;
    }
  }
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border: 2px solid $medium-beige;
  img, .svg{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 2px;
    margin-top:-4px;
    path{
      fill: $orange;
    }
  }
  span{
    white-space: nowrap;
  }
}
