$text:#161224;
$blue:#7ac0e4;

$purple:#5e5873;
$yellow:#f3cc14;
$yellow2:#fde400;
$light-yellow:#fcf9e2;

$link:#6e5eb2;
$visited:#a399cd;
$hover:#f4cd13;

$light-border:#dddce0;

$light-bg:#e2e1e4;
$super-light-bg:#f5f4f7;
$medium-bg:#c9c5cf;

$dark-text:#322d44;
$text:#413b52;
$medium-text:#8F8E96;
$light-text:#aaa9b1;

$light-grey: #eee;

$lighter-beige: #f9f7ee;
$light-beige: #F0EDDC;
$medium-beige: #dbd3c6;

$orange: #f49206;
$dark-orange: #c58324;

$dark-brown: #605e58;

$bg-color: $light-beige;
$text-color: $dark-brown;
$link-color: $dark-orange;
$hover-color: $orange;