$columns: 4;
$gutters: $columns - 1;
$gutterspace: $spacing * $gutters;

.contributors{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.contributor{
  margin-bottom: $spacing*2;
  @include small{
    width: 100%;
  }
  @include medium{
    width: calc((100% - #{$gutterspace})/#{$columns});
    margin-right: $spacing;
    &:nth-of-type(#{$columns}n){
      margin-right: 0;
    }
  }
}

.contributor-image{
  display: block;
  line-height: 1;
  @include small{
    width: 50%;
  }
  @include medium{
    width: 80%;
  }
  margin: 0 auto;
  img{
    @extend .avatar;
  }
}

.contributor-name{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: $light2;
}

.contributor-community{
  margin-bottom: 0;
  font-size: 14px;
}

.contributor-more{
  .inner{
    text-align: center;
    background: $medium-beige;
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:before {
      content: '';
      padding-top: 100%;  
    }
    @include small{
      font-size: 24px;
      width: 100%;
    }
    @include medium{
      width: 80%;
    }
    // text-align: center;
    // width: 100%;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
  }
}