%block{
  padding: 20px;
  h1,h2,h3,h4,h5,ul,ol,p{
    margin-bottom: 15px;
  }
  *:last-child{
    margin-bottom: 0;
  }
}

%striped{
  background-image: url('/images/stripes-bg.png');
  background-size: 12px 12px; 
}

%shadow{
  position: relative;
  &:before{
    position: absolute;
    display: block;
    content: " ";
    z-index: -10;
    top: 6px;
    left: 6px;
    height: 100%;
    width: 100%;
    @extend %striped;
  }
}


h1, h2, h3, h4, h5, p, ol, ul, .note, .quote, .homework, .intro-note, figure{
  @include small{
    margin: 0 0 $mspacing 0;
  }
  @include medium{
    margin: 0 0 $spacing 0;
  }
}

input, textarea, button{
  outline-color: $orange;
}

.note{
  @extend %block;
}


.tweet{
  background: #fff;
}

.page-title{
  text-align: center;
}

section{
  margin-bottom: $spacing * 2;
}

.section-title{
  overflow: hidden;
  text-align: center;
  margin-bottom: $spacing;
  .inner{
    @extend .fancy;
    line-height: 0.72;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
  }
  span{
    padding: 0 20px;
    &:before, &:after{
      
      background: url('/images/stripes-bg.png');
      background-size: 12px 12px;
      content: " ";
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 800px;
    }
    &:before{
      right: 100%;
    }
    &:after{
      left: 100%;
    }
  }
}

.section-subtitle{
  text-align: center;
  font-weight: $light2;
}


.avatar{
  border-radius: 100%;
  max-width: 200px;
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 4px solid $medium-beige;
}

