/* Fancy font */

@font-face {
  font-family: Sullivan;
  src: url("/fonts/Sullivan-Regular.otf") format("opentype");
}
@font-face {
  font-family: Sullivan;
  font-weight: bold;
  src: url("/fonts/Sullivan-Fill.otf") format("opentype");
}

$bold3: 800;

.fancy{
  font-family: Sullivan;
  @include small{
    font-size: 60px;
  }
  @include medium{
    font-size: 120px;
  }
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  display: block;
  text-align: center;
  span, &:after, &:before{
    display: block;
    content: attr(data-content);
    top: 0px;
    left: 0px;
    width: 100%;
  }
  span{
    position: relative;
    font-weight: $bold3;
    color: white(0.7);
    z-index: 2;
  }
  &:after{
    position: absolute;
    font-weight: 100;
    color: $orange;
    z-index: 3;
  }
  &:before{
    position: absolute;
    top: 4px;
    left: 4px;
    font-weight: 800;
    color: $medium-beige;
    z-index: 1;
  }
}


.section-title{
  overflow: hidden;
  text-align: center;
  margin-bottom: $spacing;
  .inner{
    @extend .fancy;
    line-height: 0.73;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
  }
  span{
    padding: 0 20px;
    &:before, &:after{
      
      // @extend %striped;
      background-image: url('/images/bricks.png');
      background-size: 30px 30px;

      content: " ";
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 800px;
    }
    &:before{
      right: 100%;
    }
    &:after{
      left: 100%;
    }
  }
}
