
.intro-content{
  margin-bottom: $spacing * 2;
  @include medium{
    padding: 0 $spacing*4;
  }
  h2{
    text-align: center;
    @include small{
      font-size: 22px;
    }
    @include medium{
      font-size: 36px;
    }
    line-height: 1.4;
    color: $orange;
  }
}

.telescope-note{
  background: $lighter-beige;
  @extend %block;
  @extend %shadow;
  // margin-right: 6px;
}
.telescope-description{  
  @include medium{
    font-size: 20px;
    margin-right: 260px + $spacing;
  }
}
.telescope-screenshot{
  text-align: center;
  @include small{
    margin-bottom: $mspacing;
    width: 100%;
  }
  @include medium{
    width: 260px;
    float: right;
  }
  a{
    box-shadow: 0px 3px 5px black(0.1);
  }
  img, a{
    display: block;
    width: 100%;
  }
  .screenshot-legend{
    font-size: 14px;
    margin: 10px 0 0 0;
    line-height: 1.4;
    font-weight: $light2;
  }
}


.section-download{
  text-align: center;
}

.share-widget{
  margin: 0 auto;
  width: 100%;
  max-width: 400px;  
  text-align: center;
  .or{
    @extend %secondary-font;
    font-size: 18px;
    margin: 5px 0 10px 0;
    display: block;
  }
}
.tweet-field{
  border: 1px solid $medium-beige;
  @extend %shadow;
  margin-bottom: $spacing/2;
  position: relative;
  textarea{
    border: none;
    padding: $spacing/2;
    width: 100%;
    display: block;
    font-size: 16px;
    min-height: 140px;
    font-weight: $light2;
    line-height: 1.6;
  }
  .tweet-counter{
    position: absolute;
    display: block;
    right: 8px;
    bottom: 8px;
    font-size: 14px;
    &.danger{
      color: #DD4A54;
    }
  }
}
.tweet-button{
  width: 100%;
  display: block;
}
.facebook-button{
  margin-bottom: $spacing/2;
}

.author{
  overflow: hidden;
}
.author-photo{
  text-align: center;
  margin-bottom: $spacing;
  @include medium{
    float: left;
    margin-right: $spacing;
  }
}
.author-image{
  width: 180px;
  margin: 0 auto;
  display: block;
  line-height: 1;
  img{
    @extend .avatar;
  }
}
.author-bio{
  @include medium{
    margin-left: 180px + $spacing;
    font-size: 22px;
  }
}

.small-note{
  margin-top: $spacing/2;
  font-size: 18px;
  color: $light-brown;
}

.tweets{
  text-align: center;
}