body{
  background: url("/images/bg.jpg");
  padding: 0;
  margin: 0;
}

header{
  padding: 120px 0;
  margin-bottom: $spacing * 2;
  // border-bottom: 2px solid #D8D4C3;
  &.large{
    background: url("/images/city-bg.jpg") 0 0 repeat-x;
    background-size: contain;
  }
}
footer{
  padding: 225px 0 15px 0;
  text-align: center;
  background: url("/images/city-bg-alt.jpg") 0 0 repeat-x;
  background-size: contain;
  p{
    margin-bottom: 0;
  }
}