.post-nav{
  @extend %secondary-font;
  padding-bottom: 10px;
  @include cf;
  .prev, .next{
    text-align: center;
    width: calc(50% - 8px);
    // padding: $spacing/2;
    // @extend %striped;
    @extend %card;
    padding: $spacing;
    // &:hover{
    //   background-color: $medium-beige;
    //   text-decoration: none;
    // }
  }
  .prev{
    margin-right: 8px;
    float: left;
  }
  .next{
    margin-left: 8px;
    float: right;
  }
}