/* Primary font */

%primary-font{
  font-family: "brandon-grotesque";
}

$light1: 300;
$bold1: 700;

body {
  @extend %primary-font;
  color: $text-color;    
  line-height: 1.6;
  font-weight: $light1;
  @include small{
    font-size: 18px;
  }
  @include medium{
    font-size: 24px;
  }
}
strong{
  font-weight: $bold1;
}

/* Secondary font */

$light2: 300;
$bold2: 600;

%secondary-font{
  font-family: "kulturista-web";
}

h1, h2, h3, h4, h5, textarea, input{
  @extend %secondary-font;
}

h1, h2, h3, h4, h5, .button{
  font-weight: $bold2;
}

textarea, input{
  font-weight: $light2;
}

/* Links */

a{
  font-weight: 600;
  &:link, &:visited, &:active{
    color: $orange;
    text-decoration: none;
  }
  &:hover{
    color: $orange;
    text-decoration: underline;
  }
}

/* Other typography styles */

.post-content{
  >p:first-of-type{
    @include small{
      font-size: 24px;
      line-height: 1.4;
    }
    @include medium{
      font-size: 34px;
      line-height: 1.4;
    }
  }
  ul, ol{
    li{
      margin-bottom: 15px;
    }
  }
  
}
