%section.section-author
  .section-title
    %h2.inner{'data-content' => 'The Author'}
      %span The Author

  .author
    .author-photo
      %a.author-image{href: "http://sachagreif.com"}
        %img{src: "/images/sacha.jpg"}
      .author-name
        %a{href: "http://sachagreif.com"} Sacha Greif
    .author-bio
      :markdown
        I work on [Telescope](http://telesc.pe), an open-source community app that makes it easy for anybody to launch their own Product Hunt or Hacker News

        I'm also one of the authors of [Discover Meteor](http://discovermeteor.com), a book about the [Meteor](http:..meteor.com) JavaScript framework, and the creator of [Sidebar](http://sidebar.io), a daily newsletter of five great design links.

        You can follow me on [Twitter](http://twitter.com/sachagreif) or learn more about me on [my site](http://sachagreif.com).
