
%section.section-download
  .section-title
    %h2.inner{'data-content' => 'Download'}
      %span Download

  %h3.section-subtitle Prefer PDF? We've Got You Covered

  %a.download-button.button{href: "#"} Download PDF

  %p.small-note (If you like the guide, a tweet would be much appreciated!)