%section.intro
  .intro-content
    :markdown
      ## Why do some communities thrive while others become ghost towns?

      Building an audience is already tricky, but establishing a true *community* is even harder.

      Setting up your blog, forum, or chat room is only the beginning. It's **what you do after** that will make all the difference. So in this guide, we'll look at nine **“bricks”** you can use to build up your community.

      Let's get started!
  
  .telescope-note.note
    .telescope-screenshot
      %a{href: "http://telesc.pe"}
        %img{src: '/images/telescope.png'}
      %h4.screenshot-legend Telescope, an open-source community app. 
    .telescope-description
      :markdown
        ### Introducing Telescope
        This guide was written for [Telescope](http://telesc.pe), a free open-source app that makes it easy for anybody to launch their own Product Hunt or Hacker News. 

        That being said it, it should be equally applicable to any other type of community.

