%section.section-newsletter
  .section-title
    %h2.inner{'data-content' => 'Newsletter'}
      %span Newsletter

  %h3.section-subtitle Sign Up To Receive Updates & Extra Content

  %form.newsletter-form{:action => "http://telesc.us2.list-manage.com/subscribe/post?u=b5af47765edbd2fc173dbf27a&amp;id=d0e5e29d38", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    .newsletter-email-wrapper
      %input.newsletter-email{:name => "EMAIL", :placeholder => "Your email", :type => "email"}
    %button.newsletter-submit.button{:name => "subscribe", :type => "submit", 'data-category' => 'Join newsletter', 'data-action' => 'click', 'data-label' => 'form buttons'} Subscribe

  %p.small-note (Infrequent updates and bonus content only. No spam ever.)