%section.share-print
  
  :markdown

    ### One More Thing…

    Enjoyed this guide?

    If so, [a quick tweet](https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fcommunitybuildingguide.com&text=The%20Community%20Building%20Guide%2C%20a%20free%20guide%20by%20%40telescopeapp%20http%3A%2F%2Fcommunitybuildingguide.com%20%23combuild) or [Facebook share](https://www.facebook.com/sharer/sharer.php?u=http://communitybuildingguide.com/) would be much appreciated!