
%section.print-title
  %img{src: '/images/city.svg'}
  / %h1.logo Brick By Brick
  / %h2.sublogo A free guide to building awesome communities
  %a{href: 'http://www.communitybuildingguide.com'} www.communitybuildingguide.com