%section.section-tweets

  .section-title
    %h2.inner{'data-content' => '#combuild'}
      %span #combuild

  .tweets
    :plain
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/combuild" data-widget-id="570507225794625536" height="500" data-chrome="nofooter noheader">#combuild Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>