---
title: 'Telescope: Build your own Hacker News, Reddit, or Product Hunt.'
page: home
---

- content_for(:title, current_page.data.title)
- content_for(:page, current_page.data.page)


%section.intro.post-content
  :markdown
    Why do some communities take off while others become ghost towns?

    Building an audience is already tricky, but establishing a true *community* is even harder: not only do you need to reach users, but you also need to get them to engage. 

    Setting up your blog, forum, or chat room is only the beginning. It's what you do after that will make all the difference. So in this guide, we'll explore 9 strategies you can use to make your community successful.

    Let's get started!
  
  .telescope-note.note
    .telescope-screenshot
      %a{href: "http://telesc.pe"}
        %img{src: '/images/telescope.png'}
      %h4.screenshot-legend Telescope, an open-source community app. 
    .telescope-description
      :markdown
        ### Introducing Telescope
        This guide was written for [Telescope](http://telesc.pe), a free open-source app that makes it easy for anybody to launch their own Product Hunt or Hacker News. 

        That being said it, it should be equally applicable to forums, blogs, chat rooms, or any other type of community.


%section.section-contributors

  .section-title
    %h2.inner{'data-content' => 'Featuring'}
      %span Featuring

  %h3.section-subtitle With Wisdom From These Fine Folks:

  .contributors
    - data.contributors.each_with_index do |contributor, i|
      .contributor
        %a.contributor-image{href: contributor.link}
          %img{src: "/images/contributors/"+contributor.image}
        %h4.contributor-name=contributor.name
        %h5.contributor-community
          %a{href: contributor.link}=contributor.community

%section.section-contents
  .section-title
    %h2.inner{'data-content' => 'Contents'}
      %span Contents

  %h3.section-subtitle The Part You've Been Waiting For

  .contents-toc
    - blog('sections').articles.sort_by! {|chapter| chapter.metadata[:page]["date"]}.each_with_index do |chapter, i|
      %a.chapter-link{href: chapter.url, class: 'chapter-'+chapter.data.title.downcase}
        .chapter-contents
          %img.chapter-icon.svg{src: "/images/"+chapter.data.icon}
          %h3.chapter-title=chapter.data.title
          %p.chapter-description=chapter.data.description

%section.section-download
  .section-title
    %h2.inner{'data-content' => 'Download'}
      %span Download

  %h3.section-subtitle Prefer PDF? We've Got You Covered

  %a.download-button.button{href: "#"} Download PDF

%section.section-share
  .section-title
    %h2.inner{'data-content' => 'Share'}
      %span Share

  %h3.section-subtitle Help Us Get The Word Out


  .share-widget
    .tweet-field
      %textarea.tweet-content The Community Building Guide, a free guide by @telescopeapp http://communitybuildingguide.com #combuild
      %span.tweet-counter
    %a.tweet-button.tweet-link.share-button.button{:href => "#", :target => "_blank"}
      %img.svg{:alt => "Share on Twitter", :src => "/images/twitter.svg"}/
      %span Tweet This

    .share-buttons
      %span.or or
      %a.facebook-button.share-button.button{:href => "https://www.facebook.com/sharer/sharer.php?u=http://book.discovermeteor.com/starter", :target => "_blank"}
        %img.svg{:alt => "Share on Facebook", :src => "/images/facebook-square.svg"}/
        %span Share on Facebook
      %a.gplus-button.share-button.button{:href => "https://plus.google.com/share?url=http://book.discovermeteor.com/starter", :target => "_blank"}
        %img.svg{:alt => "Share on Google+", :src => "/images/googleplus-square.svg"}/
        %span Share on Google+

%section.section-newsletter
  .section-title
    %h2.inner{'data-content' => 'Newsletter'}
      %span Newsletter

  %h3.section-subtitle Sign Up To Receive Updates

  %form.newsletter-form{:action => "http://telesc.us2.list-manage.com/subscribe/post?u=b5af47765edbd2fc173dbf27a&amp;id=ed0fb4ac61", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    .newsletter-email-wrapper
      %input.newsletter-email{:name => "EMAIL", :placeholder => "Your email", :type => "email"}
    %button.newsletter-submit.button{:name => "subscribe", :type => "submit", 'data-category' => 'Join newsletter', 'data-action' => 'click', 'data-label' => 'form buttons'} Subscribe

%section.section-author
  .section-title
    %h2.inner{'data-content' => 'The Author'}
      %span The Author

  .author

    .author-photo
      %a.author-image{href: "http://sachagreif.com"}
        %img{src: "/images/sacha.jpg"}
      .author-name
        %a{href: "http://sachagreif.com"} Sacha Greif
    .author-bio
      :markdown
        I work on [Telescope](http://telesc.pe), an open-source community app that makes it easy for anybody to launch their own Product Hunt or Hacker News

        I'm also one of the authors of [Discover Meteor](http://discovermeteor.com), a book about the [Meteor](http:..meteor.com) JavaScript framework, and the creator of [Sidebar](http://sidebar.io), a daily newsletter of five great design links.

        You can follow me on [Twitter](http://twitter.com/sachagreif) or learn more about me on [my site](http://sachagreif.com).