---
title: 'Brick by Brick: A free guide to building awesome communities'
page: home
---

- content_for(:title, current_page.data.title)
- content_for(:page, current_page.data.page)

=partial("partials/intro")

=partial("partials/featuring")

=partial("partials/chapters")

=partial("partials/download")

=partial("partials/share")

=partial("partials/newsletter")

=partial("partials/author")

=partial("partials/tweets")